* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 40px;
}

#kontak {
  height: 60vh;
}

#beranda,
#kelebihan-saya,
#portofolio {
  background-color: #00cba9;
}

#keahlian,
#tentang-saya,
#kontak {
  background-color: #273036;
}

#tentang-saya,
#kelebihan-saya,
#keahliab,
#portofolio,
#kontak {
  margin-top: -2rem;
  z-index: 4;
}

svg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
