* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section {
  width: 100%;
  height: 100vh;
}

#beranda,
#keahlian,
#kontak {
  background-color: #00cba9;
}

#tentang-saya,
#portofolio {
  background-color: #273036;
}
